body{
    background-image: url('img/fond2.jpg');
    /* background-position: ; */
    background-size: cover;
    margin-top: 50px;
    

}

              /* A propos*/ 

#a-propos{
    color: white; 
    margin-top: 90px;       
}
               
#a-propos img{
    background-size: 50px;
    width: 150px;
    height: 150px;
    
}

#en-tete {
  margin-top: 50px;
  color:white; 
}


            /* HEADER*/
header h1{
   font-size: 3rem;
}

header h2{
   font-size: 1rem;
}


                /*Card*/

.card-text{
    
    background-color: transparent;
    border: none;
    color: white;

}



#color h1{
    color: white;
    margin-top: 20px;
}



#projet {
    margin-top: 5%;
}
#projet a{

    border-radius: 10px;
    border: 4px solid #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    
}
#projet img{
    margin-bottom: 60px;
    width: 450px;
}

                 /*BLOG*/
#blog {
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
#blog h1{
    margin-top: 100px;
    font-size: 35px;
}

#blog h3{
    font-size:large;
    margin-top: 30px;
}

#blog p{
    margin-top: 100px;
}

.symfony{
    width: 200px;
    margin-top: 50px;
}
.presentation {
   width: 400px !important;
   height: 300px !important;
   margin-top: 10px;
   margin-bottom: 30px;
}


input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
    
  }
  label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    color: #ffffff;

}
  
  input[type=submit] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #contact h1{
    margin-bottom: 20px;
    margin-top: 50PX;
    color: #ffffff;
  }

